body {
  font-family: 'Poppins', sans-serif;
}

/* ----products---- */

.products {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.book {
  border: 1px;
  border-radius: 10px;
  background-color: deeppink;
  color: white;
  font-size: 20px;
}
.div-img {
  width: 100%;
}
.photo:hover {
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
/* ----cart styles---- */

.popular {
  text-align: center;
}
.blogs {
  box-shadow: 4px 4px 4px 4px;
  border-radius: 3px;
}
.flexible {
  padding: 5px;
}
.tripod {
  display: flex;
}
.filled {
  color: yellow;
}
.arrow {
  color: deeppink;
  text-align: end;
}
/* -----featured products ---- */

.features {
  display: flex;
  font-size: 25px;
}
.enter {
  width: 100%;
}
/* ------oer---- */
.footer {
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
}
/* -----MEDIA QUERIRES------ */

/* ------------
----------------Mobile Devices---------- */

.parents {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  justify-content: space-between;
  gap: 5px;
}
.blogs {
  flex: 1 0 30%;
}
@media only screen and (max-width: 576px) {
  .products {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .parents {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    max-width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .features {
    flex-direction: column;
    display: flex;
    font-size: 25px;
  }
  .blogs {
    flex: 0 0 100%;
  }
}
/* ----------------------
-----------------tablet devices----------------------- */
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .products {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .parents {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    max-width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .features {
    flex-direction: column;
    display: flex;
    font-size: 25px;
  }
  .blogs {
    flex: 0 0 50%;
  }
}
